@import "variables";

/** Body **/

body {
  background-color: $background-color;
  color: #fff;
}

/** Personal Info **/

.personal_info {
    background: radial-gradient(
      circle,
      rgba($color-black, 0.95) 0%,
      rgba($color-black, 1) 100%
    );
    overflow: auto;
    border-radius:  $border-radius-xs 0 0 $border-radius-xs;
    box-shadow: 0.1rem 0.2rem 0.4rem rgba(#020202, 1);
    transition: all $transition-time;
    
    // Header
  
    &__header {
      border-radius:  $border-radius-sm 0 0 ;
      text-align: center;
      box-shadow: inset 0 -0.8rem 0.6rem -1rem rgba($color-quaternary, 0.6);
      background-color: rgba($color-grey, 0.8);
    }

    &__image {
      text-align: center;
      img {
        border-radius: 50%;
      }
    }
  
    &__name {
      font-size: $font-size-sm;
      font-weight: $font-weight-black;
    }
  
    &__job {
      font-size: $font-size-xxs;
      color: $color-grey-light;
    }
  
    // Body
  
    &__body {
      text-align: center;
      font-size: $font-size-xs;
      line-height: $line-height-md;
      font-style: italic;
    }
  
    // Skills
  
    &__skills {
      font-size: $font-size-xxs;
      color: $color-grey-light;
      cursor: pointer;
    }
  
    &__languages_list {
      .language {
        &__icon {
          font-size: $font-size-xxs;
          background: $color-primary;
          border: 0.5rem solid $color-secondary;
          border-radius: 50%;
        }
        &__name {
          font-size: $font-size-xxs;
        }
      }
    }
  
    &__programming_languages {
      .p_language {
        &__name {
          font-size: $font-size-xxs;
        }
        &__icon {
          font-size: $font-size-xl;
          cursor: pointer;
        }
        &:hover {
          color: $color-primary;
        }
      }
    }
  
    &__social {
      .social_page {
        font-size: $font-size-md;
        color: $color-grey-light;
        margin: 0;
        transition: color 0.3s;
        &:hover {
          color: $color-primary;
        }
        height: 100%;
      }
    }
  }
  
/** Main **/
main {
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(#111, 1);
  background-color: $color-black;
  transition: all $transition-time;
  
   // Modifiers
  &::before {
    transition: all $transition-time; // Adjust the duration as needed
    background-color: rgba($color-quaternary, 0.1);
    opacity: 0;
  }

  &.navbar--open{
    transition: all $transition-time;
    
    &::before {
      animation: fadeIn $transition-time forwards ease-in;
    }
  }
  &.navbar--closed{
    transition: all $transition-time;
    
    &::before {
      animation: fadeIn $transition-time reverse forwards ease-in;
    }
  }
  

  /** Main Content **/
  .main_content {
    background-color: $color-black-light;
    overflow-y: auto;

    .hero_image {
      &__background {
        background: $background-image;
        background-size: cover;
        opacity: 0.1;
      }

      &__content__title {
        font-size: $font-size-sm;
        font-weight: $font-weight-black;
        color: $color-quaternary;
        text-shadow: 0.1rem 0.2rem 0.4rem rgba(#111, 1);
      }

      &__background_content::after {
        content: "";
        background: linear-gradient(
            to bottom,
            rgba($color-quaternary, 0.1),
            rgba($color-quaternary, 0.3)
          ),
          $background-image;
        background-size: cover;
        opacity: 0.6;
        z-index: 10;
      }
    }
  }
}

// navbar
.navbar {
  background-color: $color-black;
  border-radius: 0 $border-radius-xs $border-radius-xs 0;
  box-shadow: -0.1rem 0.2rem 0.4rem rgba(#090809, 0.8);
  overflow: hidden;
  transition: all $transition-time;
  &__button {
    color: $color-quaternary;
    background-color: rgba($color-grey-dark, 0.2);
    border-radius: 0 $border-radius-xs $border-radius-xs 0;
   
    button{
      transition: all $transition-time;
      &:hover{
        transform: scale(1.05);
      }
    }
  }
  &__languages {
    color: $color-quaternary;
    font-size: $font-size-xxs;
    div {
      border-radius: 50%;
      background-color: rgba($color-secondary, 0.2);
      cursor: pointer;
      &.selected {
        background-color: $color-primary;
        &:hover {
          background-color: rgba($color-tertiary, 0.7);
        }
      }
      &:hover {
        background-color: rgba($color-quaternary, 0.1);
      }
    }
  }



   // Modifiers
    &--open{
        .navbar{
            &__content--closed{
                opacity: 0;
            }
            &__content--open{
              .navbar__button{
                font-size: $font-size-xl;
              }

              .navbar__menu{
                font-size: $font-size-xs;
                .navbar__menu__item{
                  transition: all $transition-time;
                  &:hover{
                    transform: scale(1.05);
                  }
                  &.selected{
                    text-shadow: 0.025rem 0.05rem 0.1rem rgba(#ffffff3a, 0.6);
                    font-weight: $font-weight-medium;
                  }
                }
              }
            }
        }
    }

    &--closed{
        .navbar{
            &__content--open{
                opacity: 0;
            }
        }
    }
}
