@import 'variables';

/** General Sytles **/

.container {
    width: 100%;
}

body{
    padding: $padding-xs;
}

/**** Personal Info ****/


.personal_info{
    width: 30rem;
    height: calc(100vh - $padding-xs * 2);
    display: flex;
    z-index: 2;
    position: absolute;
    
    &__details{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    &__header{
        padding: $padding-sm;
        padding-bottom: $padding-md;
    }

    &__image{
        margin-top: $margin-lg;
        img{
            height: 10rem;
            width: 10rem;
        }
    }

    &__name{
        margin-top: $margin-md;
    }

    &__job{
        margin-top: $margin-xs;
    }

    &__body{
        padding: $padding-md;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }

    &__skills{
        margin-top: $margin-sm;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: $margin-xs;
    }
    &__languages_list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;

        .language{
            margin: 0 auto;
            &__icon{
                width: 5rem;
                height: 5rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }
        span{
            display: block;
        }
    }
    &__programming_languages{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        gap: $margin-xs;
        .p_language{
            text-align: center;
            span{
                display: block;
            }
        }
    }

    &__social{
        display: flex;
        flex-direction: column;
        gap: $margin-xs;
        width: 100%;
        .divider{
            width: 100%;
        }
        .social_links{
            display: flex;
            justify-content: space-between;
            padding: 0 $padding-md;
        }
        .social_page{
            display: inline-block;
            font-size: $font-size-md;
            color: $color-grey-light;
            transition: color 0.3s;
        }
    }

    .divider{
        width: 100%;
    }
   
}

/**** Main ****/

main{
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    text-align: center;
    width: calc(100% - 30rem - 2* $padding-xs);
    height: calc(100vh - $padding-xs * 2);
    top: $padding-xs;
    left: 30rem + $padding-xs;

    // Modifiers
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &.navbar--open{
        left: 10rem + $padding-xs;
        width: calc(100% - 10rem - 2* $padding-xs);
        &::before{
            z-index: 10;
        }
      
    }

    /**** Main Content ****/

    .main_content{
        flex: 1;
        position: relative; // Add position relative to create a stacking context
        
        .hero_image{
            position: relative;
            width: 100%;
            height: 35rem;

            &__content__title{
                margin-top: $margin-md;
            }

            &__background{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0.1;
                z-index: 1;
            }

            &__background_content::after{
                position: absolute;
                top: 4rem;
                left: 4rem;
                width: calc(100% - 8rem);
                height: calc(100% - 8rem);
                z-index: 2;
            }

            &__background_content{
                padding: 4rem;
            }
        }
        
    }

}

@media screen and (max-width: 768px){
    .personal_info{
        display: none;
    }
    main{
        width: 100%;
        left: 0;
        &.navbar--open{
            left: 0;
            width: 100%;
        }
    }  
}

// NavBar

.navbar{
    flex: 1;
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    z-index: 10;
    max-width: 8rem;
    height: 100%;

    // position: absolute;
    // top: 0;
    // right: $padding-xs;
    // margin: $padding-xs 0;
    // width: 8rem;

    &__button{
        display: flex;
        justify-content: center;
        padding: 2rem;
    }

    &__languages{
        text-align: center;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2rem auto;
            width: 3rem;
            height: 3rem;
        }
       
    }

    // Modifiers
    &--open{
        .navbar{
            max-width: 20rem ;
            &__content--closed{
                width: 0;
                height: 0;
                pointer-events: none;
                position: absolute;
            }
            &__content--open{
                .navbar__button{
                    justify-content: flex-start;
                }
                .navbar__menu{
                    &__list{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        margin-top: $margin-md;
                        gap: $margin-md;
                        padding-left: $padding-md;
                    }
                    
                }
                
                .navbar__languages{
                    div{
                        margin: 2rem $margin-md;
                    }
                }
            }
          
        }
    }

    &--closed{
        .navbar{
            max-width: 8rem;
            &__content--open{
                width: 0;
                height: 0;
                pointer-events: none;
                position: absolute;
            }
        }
    }

}

@media screen and (max-width: 768px){
    .navbar{
        display: none;
    }
    
}


